.app-name {
  color: red;
}

.App {
  text-align: center;
}

.app-logo {
  height: 10em;
  pointer-events: none;
  margin: 0;
}

button.search-button {
  background-color: red;
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
  outline: none !important;
  box-shadow: red !important;
}

button.dark-mode-button {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}

.nav-custom-link,
.nav-custom-link:hover {
  color: red;
}

footer.page-footer {
  bottom: 0;
}

i.social-icons {
  font-size: 30px;
  color: black !important;
}

a.social-custom-link {
  text-decoration: none;
}

input[type="text"].form-control:focus {
  border-color: red;
  border-width: 2px;
  box-shadow: none !important;
  outline: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grey-bg {
  background-color: #fdfdfd;
}
.br-10px {
  border-radius: 10px;
}
.elevated-card {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.05);
  max-height: 100%;
}

.elevated-card:hover {
  box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.4);
}

.limit-word {
  word-wrap: break-word;
}

div.modal-lg {
  max-width: 900px !important;
}

div.height-md {
  min-height: 300px !important;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.red-text {
  color: red;
}
span.font-small {
  font-size: 0.8em;
  color: rgb(131, 130, 130);
  font-weight: 500;
  text-align: start !important;
  word-wrap: break-word;
}

span.font-weight-bold {
  font-size: 1em;
  text-overflow: clip;
  text-align: start !important;
  word-wrap: break-word;
}

img.bmc {
  max-height: 50px !important;
  max-width: 160px !important;
  color: #000;
}

.body-dark {
  background: #111111;
  transition: all 1s;
  color: rgb(255, 254, 254) !important;
}

.body-light {
  transition: all 1s;
}

body.body-dark button.dark-mode-button {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
  color: rgb(172, 172, 172);
}
body.body-dark .elevated-card {
  transition: 0.5s;
  background: #181818;
}

body.body-dark .elevated-card:hover {
  box-shadow: 4px 8px 16px 4px rgba(255, 255, 255, 0.2);
}

body.body-dark .nav-link.active {
  background-color: #181818 !important;
  border: none !important;
}

body.body-dark .nav-link:hover {
  border: none !important;
}

body.body-dark .dark-mode-button,
body.body-dark .dark-mode-button:active {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
  background-color: #181818 !important;
  border: none !important;
  border-color: none !important;
  box-shadow: none;
}

body.body-dark .social-icons {
  font-size: 30px;
  color: rgb(172, 172, 172) !important;
}

body.body-dark .card-title-custom {
  background: rgba(255, 255, 255, 0.03);
}

body.body-dark .modal-content {
  background-color: #101010 !important;
}

body.body-dark .modal-header {
  border-bottom: 1px solid #111111 !important;
}

body.body-dark .close {
  color: rgb(255, 255, 255) !important;
}

body.body-dark .form-control {
  background-color: #181818;
  color: rgb(172, 172, 172) !important;
}
